@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

:root {
  --primary-color: #3d5cb8;
  --primary-color-dark: #334c99;
  --text-dark: #0f172a;
  --text-light: #64748b;
  --extra-light: #f1f5f9;
  --white: #ffffff;
  --max-width: 1200px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Poppins", sans-serif;
    
  }

  .container{
    max-width: var(--max-width);
    margin: auto;
    text-align: center;
    padding: 10px;
  
  }
  
  .btn {
    padding: 0.75rem 2rem;
    outline: none;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    color: var(--white);
    background-color: var(--primary-color);
    border-radius: 2rem;
    cursor: pointer;
    transition: 0.3s;
    
  }

  .btn:hover {
    background-color: var(--primary-color-dark);
  }

  .header{
    font-size: 2rem;
    font-weight: 600;
    line-height: 3rem;
    color: var(--text-dark);
    padding: 20px;
  }
  

  .list{
    margin-left: 450px;
    margin-right: 450px;
    border-radius: 2rem;
    background-color: var(--primary-color);
    color:var(--extra-light);
    
    }

    .list-item {
      margin-bottom: 20px; /* Espaçamento entre itens da lista */
      font-size: 16px; /* Tamanho da fonte para o texto ao redor dos textareas */
      color: var(--extra-light); /* Cor do texto */
  }

    .form{
      padding: 10px;
      margin-bottom: 10px;
      font-size: 1.3rem;
      }
  
      .back-button{
        padding: 10px;
        }

    ul{
      list-style: none;
  
    }

  a {
    text-decoration: none;
  }
  nav {
    max-width: var(--max-width);
    margin: auto;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }
  .nav__logo {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text-dark);
  }
  
  .nav__links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  
  
  .link a {
    font-weight: 500;
    color: var(--text-light);
    transition: 0.3s;
  }
  
  .link a:hover {
    color: var(--text-dark);
  }

  .form__label{
    font-size: 1.3rem;
    
  }
 

.form__input,
.form__select {
  /* Adicione margem inferior semelhante para manter a consistência */
  margin-bottom: 10px;
}

.salvar{
  padding-top: 10px;
}